<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/quiz/create.css" />
    <title>Update Quiz</title>
</head>

<body>
    <%- include("../../layouts/navbarYassine.ejs") %>

        <h1 class="title-page">Update Quiz</h1>
        <form id="quizForm" enctype="multipart/form-data">
            <input type="hidden" id="quizId" value="<%= quiz.id %>" />

            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value='<%= quiz.title %>' required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" required><%= quiz.description %></textarea>

            <div class="items">
                <div>
                    <label for="viewAnswers">View Answers:</label>
                    <input type="checkbox" id="viewAnswers" name="viewAnswers" <%=quiz.viewAnswers ? 'checked' : '' %>
                    />
                </div>

                <div>
                    <label for="seeResult">See Result:</label>
                    <input type="checkbox" id="seeResult" name="seeResult" <%=quiz.seeResult ? 'checked' : '' %> />
                </div>
            </div>

            <label for="successScore">Success Score:</label>
            <input type="number" step="0.01" id="successScore" name="successScore" value='<%= quiz.successScore %>' />

            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="draft" <%=quiz.status==='draft' ? 'selected' : '' %>>Draft</option>
                <option value="published" <%=quiz.status==='published' ? 'selected' : '' %>>Published</option>
                <option value="archived" <%=quiz.status==='archived' ? 'selected' : '' %>>Archived</option>
            </select>

            <label for="attempLimit">Attempt Limit:</label>
            <input type="number" id="attempLimit" name="attempLimit" value='<%= quiz.attempLimit %>' required>

            <button type="submit">Update Quiz</button>
        </form>

        <div id="loadingIndicator" style="display: none;">Updating quiz...</div>
        <div id="resultMessage"></div>

        <script src="/js/quiz/edit.js"></script>
</body>

</html>